## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import keras_tuner as kt

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

Using TensorFlow backend

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns=['EIN','NAME'])

application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_count = application_df['APPLICATION_TYPE'].value_counts()
application_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(application_count[application_count < 500].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
print(list(classification_count[classification_count > 1].index))

['C1000', 'C2000', 'C1200', 'C3000', 'C2100', 'C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256']

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classification_values = application_df["CLASSIFICATION"].value_counts()
filter_classification = classification_values[classification_values <= 1000]
classifications_to_replace = filter_classification.index.tolist()
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns=['STATUS', 'SPECIAL_CONSIDERATIONS'])
application_df = pd.get_dummies(application_df)

In [10]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_df.drop(columns="IS_SUCCESSFUL").values
y = application_df["IS_SUCCESSFUL"].values
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Create a method that creates a new Sequential model with hyperparameter options
number_of_input_features= len(X_train_scaled[0])

def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=10,
        step=2), activation=activation, input_dim=number_of_input_features))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [13]:
# Import the kerastuner library
tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

Reloading Tuner from .\untitled_project\tuner0.json

In [14]:
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

In [15]:
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 3,
 'num_layers': 6,
 'units_0': 1,
 'units_1': 5,
 'units_2': 9,
 'units_3': 9,
 'units_4': 9,
 'units_5': 3,
 'tuner/epochs': 3,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 2,
 'tuner/round': 0}

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()
number_of_input_features= len(X_train_scaled[0])
# First hidden layer
#  YOUR CODE GOES HEREs
nn.add(tf.keras.layers.Dense(units=9, input_dim=number_of_input_features, activation="relu"))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=9, activation="relu"))

nn.add(tf.keras.layers.Dense(units=9, activation="relu"))

nn.add(tf.keras.layers.Dense(units=5, activation="relu"))

nn.add(tf.keras.layers.Dense(units=3, activation="relu"))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="tanh"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 9)                 369

 dense_1 (Dense)             (None, 9)                 90

 dense_2 (Dense)             (None, 9)                 90

 dense_3 (Dense)             (None, 5)                 50

 dense_4 (Dense)             (None, 3)                 18

 dense_5 (Dense)             (None, 1)                 4

=================================================================
Total params: 621 (2.43 KB)
Trainable params: 621 (2.43 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model
#  YOUR CODE GOES HERE
mc = tf.keras.callbacks.ModelCheckpoint('weights/weights{epoch:08d}.h5',save_weights_only=True, save_freq=5)
fit_model = nn.fit(X_train_scaled,y_train,epochs=100,callbacks=[mc])

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 1.4305 - accuracy: 0.5434
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6152 - accuracy: 0.6925
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5812 - accuracy: 0.7207
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5697 - accuracy: 0.7245
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5648 - accuracy: 0.7263
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5664 - accuracy: 0.7276
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5617 - accuracy: 0.7273
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5648 - accuracy: 0.7280
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5582 - accuracy: 0.7289
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5582 - accuracy: 0.7295
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5546 - accuracy: 0.7307
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5562 - accuracy: 0.7308
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5540 - accuracy: 0.7320
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5528 - accuracy: 0.7317
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7328
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5521 - accuracy: 0.7308
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5516 - accuracy: 0.7316
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5510 - accuracy: 0.7315
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5512 - accuracy: 0.7309
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5505 - accuracy: 0.7325
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7331
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7333
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7334
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7317
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7332
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7316
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5484 - accuracy: 0.7334
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5485 - accuracy: 0.7329
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7333
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7346
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7336
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7337
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7347
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7334
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7330
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7338
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7332
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7331
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5466 - accuracy: 0.7336
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7345
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7333
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7336
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7333
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7317
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7341
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7340
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7342
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7335
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7331
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7333
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7357
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7364
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7352
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7342
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7349
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7353
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5452 - accuracy: 0.7352
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7336
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7356
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7362
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7352
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7362
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7355
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7352
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7344
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7355
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7347
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7355
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7346
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7346
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7333
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7359
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5458 - accuracy: 0.7357
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5448 - accuracy: 0.7355
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7352
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7348
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7347
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7349
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7348
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7351
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7340
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7355
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7350
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7347
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7359
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7372
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7351
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7355
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7348
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7366
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7353
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7347
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7360
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7352
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7355
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7355
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7374
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7364
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7373
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7350

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5554 - accuracy: 0.7250 - 269ms/epoch - 1ms/step
Loss: 0.5553727149963379, Accuracy: 0.7250145673751831

In [20]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save('AlphabetSoupCharity.h5')

c:\ProgramData\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(